 /*http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background-image: url("../img/spikes.png");
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h2 {
  font-size: 28px;
  font-weight: bold;

}

h3 {
  font-size: 20px;
  font-weight: bold;
}

/*CSS clearfix*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*
  Color Pallete

  Black: #000000
  Green: #7cc576 
  Blue; #6dcff6 RGB(109,207,246)  1
  BG White: #ffffff 
  Yellow : #FFEB3B;
*/

/************************
    MOBILE FIRST
************************/

/*Make sure major containers in your HTML file are set to 100% width to achieve Fluid Layout */
.col-main, .col-footer {
  width:100%;
}

/* Header styles */ 
header {
  background: #7CC576;
  
}


/*Logo placement*/

.logo {
  float: left;
  width: 400px;
  height: 100px;
  ;
 
 /*Title of the page*/

}
.page-title {
  position: relative;
  top: -90px;
  left: 150px;
  font-size: 48px;
  font-family: 'Source Sans Pro', sans-serif;
  float: left;
  width: 100%;
}
 

.desktop-nav {
  clear: both;
  display: none;
}

.desktop-nav {
  clear: both;
  display: none;
  width: 100%;
}
.desktop-nav ul {
  width:100%;
}

/*4  navigation sections*/
.desktop-nav li {
  box-sizing: border-box;
  width: 25%;
  padding:60px;
  float: left;
  position: relative;
  
}
  
/*Create the blue box for the nav links*/
.main-nav a:link, a:visited {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  background: #6dcff6;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 32px;
}
/*change colors to yellow when the mouse hovers over */
.main-nav a:hover, a:active{
  background-color: yellow;
  color:white;
  text-align: center; 
}
/*Hamburger for the mobile view*/
.ham {
  top:100px;
  float: right;
  background: #7CC576;
}

.mobile-nav {
  width:100%;
  clear: both;
}

.mobile-nav-container {
  position: relative;
  clear: both;
}

.mobile-nav li {
  box-sizing: border-box;
  width:100%;
  padding: 10px;
  background: #6dcff6;

}



/*main content styles*/

.site-content {

  padding: 15px;
  width:100%;
  height: 445px;
  box-sizing: border-box;

  
}

.site-sidebar {
  padding: 15px;
  width: 100%;
  height: 445px;
  box-sizing: border-box;
}


/*Making the footer green and styling it*/
footer {
  background: #7CC576;
  padding: 15px;
  width: 100%;
  /*height: 110px;*/
  box-sizing: border-box;
}



/*This media query will only target the tablet size*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
  header {
    background: #7cc576;
  }
}

/*This media query targets, tablet and above*/
@media only screen and (min-width: 768px) {
  
  /*header styles*/

  /*the following css is used to restrict the content beyond 1280px*/
  /*This is to make sure the main content is in the readbable area for large screen sizes*/
  header, main, footer {

    max-width: 1280px;
    margin: 0 auto;

  }

  .desktop-nav {
    display: block;
  }

  .mobile-nav {
    display: none;
  }

  .ham {
    display: none;
  }
/*Making the Main content 66% of the page's width*/
  .site-content {
    float: left;
    width: 66%;
    height: 300px;
    box-sizing: border-box;
  }
/*Making the sidebar content 34% of the page's width*/
  .site-sidebar {
    float: left;
    width: 34%;
    height: 300px;
    box-sizing: border-box;
  }
   
  /* The three pictures*/

  .image-gallery .img-slide {
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    text-align: center; 
  }

  
  
 
  .col-footer {
    width: 31%;
    /*total width = 31% + 1%(left margin) + 1% (right margin) */
    box-sizing: border-box;
    margin: 0 1%;
    padding: 30px;
    float: left;

  }

/* The social media icons*/
 .social-media {
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    float: right;
  }

  .social-media li{
    float: right;
    padding: 5px;
  }
}
/*Desktop First Media Query*/
/* this is in case you have a lot of complex styles for desktop and do not want to change the styles for desktop layout*/
/*These media queries will target the screen sizes for smaller devices*/
/*The following media query targets the screen sizes that are less than 768px*/
@media only screen and (max-width: 768px) {
  footer {
    background: #7CC576;
  }
}