@charset "utf-8";
@import url("overlay-loader.css");
 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url("../img/hypnotize.png");
	font-family: 'open_sansregular';
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h2 {
  font-size: 30px;
  font-weight: bold;
  /*font-family: 'open_sansregular';*/
  color: #72a9ae;

}

h4 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  /*font-family: 'open_sansregular';*/
}

p {
	/*font-family: 'open_sansregular';*/
	font-size: 16px;
}
/*CSS clearfix*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


/*
	Color Pallete

	Blue Gray : #72a9ae;
	Lighter blue gray:#90d0d5;
	Dark Gray:#454545;
	Black:#000000
	White:#FFFFFF;
*/

/************************
		MOBILE FIRST
************************/

/*Make sure major containers in your HTML file are set to 100% width to achieve Fluid Layout */
.col-main, .col-footer, img {
	width:100%;
}

/* Header styles */ 
header {
	background: white;

}

.logo {
	float: left;
	/*width:120px;*/
	padding: 15px;
	
	font-family: 'Lobster', cursive;
	font-size: 48px;
	background: white;
	color:  #72a9ae;
	box-sizing: border-box;
	/*box-sizing border box makes the width adjust according to padding*/
}



.desktop-nav {
	clear: both;
	display: none;
}

.desktop-nav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	width:100%;
	background: #72a9ae;

}

.desktop-nav li {
	/*box-sizing: border-box;
	width: 20%; 
	padding: 5px;*/
	float: left;
}

.main-nav a:link, a:visited  {
	display: block;
	color: #212121;
	text-align: center;
	box-sizing: border-box;
	padding: 14px 35px;
	background: #72a9ae;
	text-decoration: none;
}
.main-nav a:hover, a:active{
  background-color: #90d0d5;
  color:white;
  text-align: center; 
}
/*.main-nav .icon {
  display: none;
}*/

.ham {
	top:100px;
	float: right;
	background: #72a9ae;
}
.ham .icon {
	/*display: none;*/
	font-size: 48px;
	background: white;
	color:black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.mobile-nav {
	width:100%;
	clear: both;
}

.mobile-nav-container {
	position: relative;
	clear: both;
}

.mobile-nav li {
	box-sizing: border-box;
	width:100%;
	padding: 10px;
	background: #72a9ae;
	border-bottom: 2px solid #212121;
}



/*main content styles*/

.site-content {

	padding: 15px;
	width:100%;
	box-sizing: border-box;
}

.site-sidebar {
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
}

/*Table styling*/

table {
  font-family: 'open_sansregular';;
  border-collapse: collapse;
  width: 100%;
 /* max-width: 500px;*/
  margin: 0 auto;
  border-color: black;
  float: left;
}

th {
	color: #72a9ae;
	font-weight: bold;
	font-size: 24px;
}


td {
	font-size: 18px;
}
td, th {
  border: 1px solid #000000;
  text-align: center;
  padding: 15px;
}



tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #FFF;
}

/*.form {
	padding: 15px;
	width:100%;
	box-sizing: border-box;*/
/*}*/


form {
	width: 90%;
	margin: 20px auto;
	padding: 20px;
	color: #000;
	font-weight: bold;
	float:left;
}

input[type=text], input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
button {
  width: 25%;
  background-color: white;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 0.3s ease;
  float: right;
  box-sizing: border-box;
}

button:hover {
	background: #72a9ae;
}


.col-25 {
  float: left;
  width: 25%;
  margin-top: 12px;
  font-weight: bold;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*div#results {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

#results span, #results a {
	opacity: 0;
	transition: all 0.5s ease-out;
	transition-delay: 1s;
}

#results.reveal span, #results.reveal a {
	opacity: 1;
}

.profile-results{

	padding: 15px;
	width:100%;
	box-sizing: border-box;
}*/

div#results {
  border-radius: 5px;
  background-color: white;

  padding: 20px;
  width: 90%;
  margin: 0 auto;
  float:right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: open_sansregular;
  line-height: 1.6;

}
#results span, #results a {

	opacity: 0;
	transition: all 0.5s ease-out;
	transition-delay: 1s;
}

#results.reveal span, #results.reveal a {
	opacity: 1;
}

.user {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #72a9ae;
}

#name_result {
	font-size:24pt;
	color:#72a9ae;
	font-weight: bold; 
}

#email_result {
	text-decoration-line: none;
	color: black;
}
.envelope-icon	{
	font-size: 48px;
	color: #72a9ae;
	text-align: center;
}

/*.fa-enveloppe {
	font-size: 18px;
	text-align: center;
}*/


/*.fas {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
  border-radius: 50%;
  list-style-type: none;
  float: left;
 }
.fa-user {
  background: white;
  color: black;
  border: 1px green;
}
*/

/*footer styles*/
footer {
	background: #454545;
	padding: 15px;
	width: 100%;
	/*height: 300px;*/
	box-sizing: border-box;
}


.address-info {
/*	background: #454545;*/
	text-align: center;
	color: white;
	box-sizing: border-box;
	/*float:right;*/
}

.links {
/*	background: #454545;*/
	text-align: center;
	color: white;
	text-decoration: none;
	box-sizing: border-box;
/*	float:left;*/
}

     .links a {
	     color: white;
	     text-decoration: none;
	/*float: center;*/
     }
.social-media {
/*	background: #454545;*/
	text-align: center;
	color: white;
	box-sizing: border-box;
}

     .social-media ul {
         display: flex;
         justify-content: center;
     }

     .social-media a {
         padding: 10px;
         font-size: 20px;
         width: 20px;
         text-align: center;
         text-decoration: none;
         margin: 5px 10px;
         border-radius: 50%;
         list-style-type: none;
         float: left;
      }
             .fa-facebook {
                 background: #3B5998;
                 color: white;
             }

             .fa-twitter  {
                 background: #55ACEE;
                 color: white;
             }
             .fa-youtube-play {
                 background: #cd201f;
                 color: white;
             }  

/*This media query will only target the tablet size*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
	header {
		background: #FFFFFF;
	}
}

/*This media query targets, tablet and above*/
@media only screen and (min-width: 768px) {
	
	/*header styles*/

	/*the following css is used to restrict the content beyond 1280px*/
	/*This is to make sure the main content is in the readbable area for large screen sizes*/
	header, main, footer {

		max-width: 1280px;
		margin: 0 auto;

	}

	.desktop-nav {
		display: block;
	}

	.mobile-nav-container {
		display: none;
	}
	.mobile-nav {
		display: none;
	}

	.ham {
		display: none;
		height: 15px;
		margin:15px;
		padding-top: 5px;
		position: relative;
		float: right;
		cursor: pointer;
	}

	.ham, .ham:before, .ham:after {
		width: 30px;
		border-top: 5px solid black;
	}

	.ham:before {
		content: "";
		display:block;
		position: absolute;
		background: black;
	}

	.ham:after {
		content: "";
		display: block;
		background: black;
		position: absolute;
		bottom: 0;
	}

	.site-content {
		float: left;
		width: 70%;
		box-sizing: border-box;
	}

	.site-sidebar {
		float: left;
		width: 30%;
		box-sizing: border-box;
	}
	#schedules {
		float:left;
		width: 100%;
		box-sizing: border-box;
	}
	.form {
		float: left;
		width: 40%;
		box-sizing: border-box;
	}

	.profile-results {
		float: right;
		width: 40%;
		box-sizing: border-box;
	}
	/*.form-value-transfer {
	    float:left;
		width: 50%;
		box-sizing: border-box;
	}
    #results {
    	float:right;
		width: 50%;
		box-sizing: border-box;*/
    footer {
    	height: 230px;
    }
	.col-footer {
		width: 31%;
		/*total width = 31% + 1%(left margin) + 1% (right margin) */
		box-sizing: border-box;
		margin: 0 1%;
		padding: 30px;
		float: left;
	}
}


/*Desktop First Media Query*/

@media only screen and (max-width: 768px) {
	footer {
		background: #454545;
	}
}